@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
:root {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  background-color: #009fe3;
}
/* Animation */
#avion {
  animation-name: slide-in-left;
  animation-duration: 2s;
}
p {
  animation-name: slide-in-right;
  animation-duration: 1s;
}
h1 {
  padding: 10 0rem;
  display: inline-block;
  position: relative;
  animation-name: bounce-in-top;
  animation-duration: 1s;
}
/* Définir les animations */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes bounce-in-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
img {
  max-width: 100%;
}
.sub {
  color:#feba02;
}
.hero1 img {
  width: 100%;
  max-width: 360px;
}
.hero1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0 auto;
}
.hero1 .container > :nth-child(1) {
  transform: rotate(-5deg) skew(-5deg);
}
.hero1 h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  max-width: 450px;
  color: #fff;
  text-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}
.hero1 p {
  font-size: 1.25rem;
  color: #003580;
  display: inline-block;
  background: #fdf9f0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0 #2b4c79;
}
.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 0rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 3rem;
  text-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 3rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #59c3c3;
  text-shadow: -0.125rem -0.125rem 0 #fff;
  transform: rotate(-5deg) skew(-5deg) translateY(-1rem);
  margin-bottom: 1rem;
}
.testimonials {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}
.testimonials:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 2.3941018767;
  background: #003580;
  mask-image: url("https://assets.codepen.io/619833/mask_7.svg");
  -webkit-mask-image: url("https://assets.codepen.io/619833/mask_7.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  z-index: -1;
}
.testimonials-wrapper {
  display: flex;
  display: grid;
  justify-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  grid-auto-columns: 320px;
  margin-bottom: 2rem;
}
.testimonials-wrapper .testimonial {
  display: grid;
  background: #fff;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  padding: 1rem 1rem 4rem 1rem;
  text-align: center;
}
.testimonials-wrapper img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10rem;
}
.testimonials-wrapper p {
  margin: 0 2rem;
  line-height: 1.5;
}
.menu-item {
  background: #fff;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.hero2 {
  margin-top: 4rem;
}
.menu {
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 2rem auto 4rem auto;
}
.menu-item {
  background: #fff;
  border-radius: 5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  grid-template-areas: "A B" "A C";
  align-items: start;
}
.menu-item h3 {
  margin: 0;
  transform: rotate(-5deg) skew(-5deg) translateY(0.5rem);
}
.menu-item li {
  list-style: inside;
  line-height: 1.25;
}
.menu-item img {
  aspect-ratio: 1;
  width: 100%;
  flex-shrin: 0;
  border-radius: 50%;
  grid-area: A;
}
@media (min-width: 768px) {
  .hero1 .container {
    flex-direction: row;
  }
  .testimonials-wrapper {
    grid-template-columns: repeat(3, auto);
  }
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}


#icon {
  border: 0.5px solid white;
  border-radius: 25px;
  padding: 1vh 1vh;

}

#icon:hover {
  opacity: 0.7;
}

#base {
  background-color: #003580;
  color: #fff;
  padding: 20px;
  font-family: 'Maven Pro', sans-serif;
}

/* Animation */
h1 {
  animation-name: slide-in-left;
  animation-duration: 1s;
}

p {
  animation-name: slide-in-right;
  animation-duration: 1s;
}

#icon a {
  display: inline-block;
  position: relative;
  animation-name: bounce-in-top;
  animation-duration: 1s;
}

/* Définir les animations */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes bounce-in-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin-right: 20px;
  padding: 3vh 3vh;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

p {
  padding: 1vh 1vh;
}

li {
  text-align: left;
}

#intro {
  padding: 10vh 10vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

.gallery {
  padding: 5vh 10vh;
  display: flex;
  height: 30rem;
  gap: 1rem;
}
.gallery > div {
  flex: 1rem;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .7s cubic-bezier(.25, .4, .45, 1.4);
}
.gallery > div:hover {
  flex:5;
}
.liengal {
  color: #fff;
  text-align: center;
  bottom: 0vh;
  text-decoration: none;
}

img {
  max-width: 300px;
  height: auto;

  border-radius: 25px;
}

h3 {
  color: #666666;
}
h4 {
  color: #009fe3;
}

.price {
  margin: 1vh;
}

.hotel-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh 1vh;
  border: 1px solid #374650;
  border-radius: 8px;
}

.hotel-rating {
  font-size: 24px;
  color: #feba02;
}

#review {
  color:#feba02;
}

/*disponibilité et note color*/
#available {
  color: #0ab21b;
}

#unavailable {
  color: #666666;
}

button {
  margin: 2vh 2vh;
  padding: 1vh 1vh;
  align-items: right;
  background-color: #117ac9;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #003580;
}

.astuce {
  color: white;
  padding: 5vh 5vh;
  background-color: #003580;
  border: 1px solid #374650;
  border-radius: 25px;
}
strong {
  color: #feba02;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section ul li {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 300px;
}

section ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  border: 1px;
}

h2 {

  color: #003580;
}

footer {
  width: 100%;
  height: 50px;
  padding: 2vh 2vh;
  text-align: center;
  background-color: #003580;
  color: white;
  font-size:small;
  display: flex;
  justify-content: space-around;
}
#contact {
  color: white;
  text-decoration: #feba02;
}